<div class="container text-center col-md-6">
  <form action="/toy/add" method="post">
    <h1 class="text text-primary text-uppercase">Add new Toy</h1>
    <label for="">Toy Name</label><br>
    <input class="form-control" type="text" name="name"><br><br>
    <label for="">Price</label><br>
    <input class="form-control" type="number" name="price"><br><br>
    <label for="">Quantity</label><br>
    <input class="form-control" type="number" name="quantity"><br><br>
    <label for="">Image</label><br>
    <input class="form-control" type="text" name="imageUrl">
    <br><br>
    <input type="submit" value="Add">
  </form>
</div>