<div class="container text-center col-md-6">
    <form action="/toy/edit/{{toy._id}}" method="post">
        <h1>Edit Toy</h1>
        <label for="">Name</label><br>
        <input type="text" name="name" value="{{ toy.name }}"><br><br>
        <label for="">Price</label><br>
        <input type="number" name="price" value="{{ toy.price }}"><br><br>
        <label for="">Quantity</label><br>
        <input type="number" name="quantity" value="{{ toy.quantity }}"><br><br>
        <input type="submit" value="Edit">
    </form>
</div>