<div class="container text-center col-md-6">
    <form action="/toy/edit/{{toy}}" method = "post">
    <h1 class="text text-primary text-uppercase"> Add new toys </h1>
    <div>

    </div>
    </form>
</div>