<!DOCTYPE html>
<html>
<title>ATN Toy Store</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</html>

<body>
  <center>
    <ul class="nav justify-content-center">
      <br>
      <li class="nav-item">
        <a class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="/">Home</a>
        <a class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="/toy/list">Product</a>
        {{#if user}}
        <a class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="/user/logout">Logout</a>
        <span class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Welcome,
          {{user.username}}!</span>
        {{else}}
        <a class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="/user/register">Register</a>
        <a class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="/user/login">Login</a>
        {{/if}}
        <a class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="/cart/checkout">My cart()</a>
      </li>
    </ul>
  </center>
<br>
<br>
</body>
{{{body}}}