<div style="display: flex; justify-content: center; align-items: center; height: 25vh;">
    <div style="width: 300px; background-color: #f8f9fa; padding: 20px; border-radius: 5px;">
        {{#if message}}
            <div class = "alert alert-danger">{{message}}</div>
        {{/if}}
        <form action="/user/login" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
            <br>
            <p>Don't have an account? <a href="/user/register">Sign Up Here</a></p>
        </form>
    </div>
</div>
</form>