<div style="display: flex; justify-content: center; align-items: center; height: 25vh;">
  <div style="width: 300px; background-color: #f8f9fa; padding: 20px; border-radius: 5px;">
    {{#if message}}
            <div class = "alert alert-danger">{{message}}</div>
        {{/if}}
    <form action="/user/register" method="post" onsubmit="return validateForm()">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">Sign Up</button>
      <p>Have an account? <a href="/user/login">Login Here</a></p>
    </form>
  </div>
</div>

<script>
  function validateForm() {
    var password = document.getElementById('password').value;
    if (password.length < 8) {
      alert('Password must be longer than 8 characters');
      return false;
    }
    return true;
  }
</script>