<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<div class="d-flex justify-content-center align-items-center" style="height: 25vh;">
  <div class="card" style="width: 300px;">
    {{#if message}}
      <div class="alert alert-danger">{{message}}</div>
    {{/if}}
    <form class="card-body" action="/user/register" method="post" onsubmit="return validateForm()">
      <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
      <p class="text-center">Have an account? <a href="/user/login" class="card-link">Login Here</a></p>
    </form>
  </div>
</div>

<script>
  function validateForm() {
    var password = document.getElementById('password').value;
    if (password.length < 8) {
      alert('Password must be longer than 8 characters');
      return false;
    }
    return true;
  }
</script>