<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Toy</title>
  <!-- Bootstrap CSS link -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* Custom styles */
    .form-container {
      margin-top: 50px;
    }
    .form-heading {
      margin-bottom: 30px;
    }
    .form-label {
      font-weight: bold;
    }
    .form-control {
      margin-bottom: 15px;
    }
    .submit-btn {
      background-color: #007bff;
      color: #fff;
      border: none;
    }
    .submit-btn:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>

<div class="container form-container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form action="/brand/add" method="post">
        <h1 class="form-heading text-primary text-uppercase">Add New Brand</h1>
        <div class="form-group">
          <label class="form-label" for="brandName">Brand Name</label>
          <input class="form-control" type="text" id="toyName" name="name" required>
        </div>
        <div class="form-group">
          <label class="form-label" for="brandDescription">Description</label>
          <input class="form-control" type="text" id="brandDescription" name="description" required>
        </div>
         <div class="form-group">
          <label class="form-label" for="brandCountry">Country</label>
          <input class="form-control" type="text" id="brandCountry" name="country" required>
        </div>
        <div class="form-group">
          <label class="form-label" for="brandLogo">Logo URL</label>
          <input class="form-control" type="text" id="brandLogo" name="logoUrl">
        </div>
        <div class="form-group">
          <label class="form-label" for="brandSite">Brand Website</label>
          <input class="form-control" type="text" id="brandSite" name="website" required>
        </div>
        <button type="submit" class="btn submit-btn">Add</button>
      </form>
    </div>
  </div>
</div>

</body>
</html>
